body {
	background-image: url(../Images/Dark_Big.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

/* This god awful line of code allows elements to be positioned inside of the 
canvas, as they will be positioned relative to the canvas*/
#canvas, #secretLinkAtr, #secretLinkAtr #secretLinkText, 
#rlInputCodeL3, #rlInputCodeL3 #rlInputBoxL3, #rlInputCodeL18, 
#rlInputCodeL18 #rlInputBoxL18  {
	position: absolute;
}

/* For secret link that opens up after 2649 is inputed in level 3 */
#secretLinkAtr #secretLinkText {
	display: none;
	z-index: 1;
	font: 25px "Raleway";
	text-decoration: none;
	text-align: center;
	line-height: 80px;
	color: #000000;
	background-color: #404040;
	width: 275px;
	height: 80px;
	left: 450px;
	top: 400px;
}

#secretLinkAtr #secretLinkText:hover {
	background-color: #828282;
}

/* input box for level 3 */
#rlInputCodeL3 {
	text-align: center;
	z-index: 1;
}

#rlInputCodeL3 #rlInputBoxL3 {
	display: none;
	text-align: center;
	font: 40px "Gugi";
	color: #000000;
    width: 280px;
	height: 80px;
	left: 260px;
	top: 120px;
    border-radius: 20px;
}

/* input box for level 18 */
#rlInputCodeL18 {
	text-align: center;
	z-index: 1;
}

#rlInputCodeL18 #rlInputBoxL18 {
	display: none;
	text-align: center;
	font: 40px "Gugi";
	color: #000000;
    width: 430px;
	height: 80px;
	left: 220px;
	top: 238px;
    border-radius: 20px;
}

/* Secret code (2649) for level 3 */
#rlSecretCodeL3 {
	bottom: 0px;
	margin: 0px auto;
	display: none;
}