body {
	background-image: url(../Images/Dark_Big.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}


#canvas {
	position: absolute;
}

#inputCode {
	text-align: center;
	position: absolute;
	z-index: 1;
}

#inputCode input {
	position: absolute;
	text-align: center;
	font-size: 40px;
	font-family: "Gugi";
    width: 280px;
	height: 80px;
	left: 260px;
	top: 120px;
    border-radius: 20px;
}
